rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isWeddingUser() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email in [
          'yuvaldesign@hotmail.com',
          'yohan-levy@hotmail.fr'
        ];
    }

    match /{document=**} {
      allow read, write: if isWeddingUser();
    }
  }
}
