rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isWeddingUser() {
      return request.auth != null
        && request.auth.token.email in [
          'yuvalsh99@gmail.com',
          'yohan-levy@hotmail.fr',
          'yuval.yohan@gmail.com'
        ];
    }

    match /invoices/{budgetId}/{fileName} {
      allow read, write: if isWeddingUser();
    }
  }
}
